process {

    withName: AMRFINDERPLUS_RUN {
        ext.args = [
            "--ident_min ${params.arg_amrfinderplus_identmin}",
            "--coverage_min ${params.arg_amrfinderplus_coveragemin}",
            "--translation_table ${params.arg_amrfinderplus_translationtable}",
            params.arg_amrfinderplus_plus ? '--plus' : '',
            params.arg_amrfinderplus_name ? '--name ${meta.sample_id}' : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/amr/amrfinderplus" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HAMRONIZATION_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/amr/amrfinderplus" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.sample_id}" }
    }
    withName: ABRICATE_RUN {
        ext.args =  [
            "--minid ${params.arg_abricate_minid}",
            "--mincov ${params.arg_abricate_mincov}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/amr/abricate/${db}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: ABRICATE_RUN_ECOLI_VIRULENCE {
       ext.args =  [
            "--minid ${params.arg_abricate_minid}",
            "--mincov ${params.arg_abricate_mincov}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/amr/abricate/${db}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: HAMRONIZATION_ABRICATE {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/amr/abricate" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.sample_id}" }
    }
    withName: 'HAMRONIZATION_SUMMARIZE|HAMRONIZATION_SUMMARIZE_HTML' {
        publishDir = [
            path: { "${params.outdir}/AMR" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}