process {

    withName: "TAXONKIT_LINEAGE|TAXONKIT_REFORMAT|HELPER_FORMAT_TAXONKIT" {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/taxonkit" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KRAKEN2_KRAKEN2_ASSEMBLY|BRACKEN_BRACKEN_ASSEMBLY' {
        ext.suffix = "assembly"
        ext.args = null
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/kraken2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "CHECKM2_PREDICT" {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/checkm2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}