process {
    withName: BUSCO_BUSCO {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/busco" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/quast" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MUMMER2CIRCOS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/plots" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'KRAKEN2_KRAKEN2_ASSEMBLY|BRACKEN_BRACKEN_ASSEMBLY' {
        ext.suffix = "assembly"
        ext.args = null
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/kraken2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}