process {

    withName: SHOVILL {
	ext.args = "--assembler ${params.shovill_assembler} --minlen ${params.shovill_contig_minlen}"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/shovill" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: DRAGONFLYE {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/dragonflye" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: RENAME_SHOVILL_CTG {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: FLYE {
        ext.args = "--plasmids --pacbio-hifi"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/flye/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }

}