process {

    withName: SHOVILL {
	ext.args = [ "--assembler ${params.shovill_assembler}",
     "--minlen ${params.min_contig_len}",
     "--keepfiles"
    ].join(" ")
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/shovill" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SHOVILL_FIX_CONTIGS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UNICYCLER' {
        ext.args = [
            "--min_fasta_length ${params.min_contig_len}"
        ].join(" ")
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/unicycler" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BWAMEM2_MEM_POLYPOLISH|BWAMEM2_INDEX_POLYPOLISH' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/polypolish" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MEDAKA_CONSENSUS {
        ext.args = [
            params.medaka_model ? "-m ${params.medaka_model}" : "",
            "--bacteria"
        ].join(" ")
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/medaka" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: DNAAPLER {
        ext.args = "all"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]  
    }
    withName: POLYPOLISH_POLISH {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/polypolish" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'RENAME_*_CTG' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: FLYE_PACBIO {
        ext.args = [
            params.pacbio_hifi ? "--pacbio-hifi" : "--pacbio-raw"
        ].join(" ")
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/flye/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: FLYE_ONT {
        ext.args = [ 
            params.onthq ? "--nano-hq" : "--nano-raw"
        ].join(" ")
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/flye/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: HOMOPOLISH {
        ext.args = [ 
            params.homopolish_model == "R10" ? "-m R10.3.pkl" : "-m R9.4.pkl"
        ].join(" ")
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/assembly/polished/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }

}