process {

    withName: CONFINDR_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/${params.reference_version}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: KRAKEN2_DOWNLOAD {
        publishDir = [
            path: { "${params.reference_base}/gabi/${params.reference_version}/kraken2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: DOWNLOAD_SOURMASH_DB {
        publishDir = [
            path: { "${params.reference_base}/gabi/${params.reference_version}/sourmashdb" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CHEWBBACA_DOWNLOADSCHEMA {
        ext.args = "--latest"
        publishDir = [
            path: { "${params.reference_base}/gabi/${params.reference_version}/chewbbaca" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMRFINDERPLUS_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/${params.reference_version}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BUSCO_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/${params.reference_version}/busco" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}