process {
    withName: 'CHEWBBACA_ALLELECALL' {
        ext.args = "--no-inferred"
        publishDir = [
            path: { "${params.outdir}/cgMLST/chewbbaca/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CHEWBBACA_ALLELECALLEVALUATOR' { 
        publishDir = [
            path: { "${params.outdir}/cgMLST/chewbbaca/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CHEWBBACA_JOINPROFILES' {
        ext.args = "--common"
        publishDir = [
            path: { "${params.outdir}/cgMLST/chewbbaca/samples/${meta.sample_id}/joinprofiles" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CHEWBBACA_ALLELECALL_SINGLE' {
        ext.args = "--no-inferred"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/chewbbaca" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CHEWBBACA_REMOVEGENES' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/chewbbaca" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MLST {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mlst" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}