process {
   
    withName: MLST {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/mlst" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}