process {
    withName: 'ECTYPER|SEQSERO2|LISSERO|SISTR|STECFINDER' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/serotype/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STECFINDER' {
        ext.args = "--hits"
    }
    withName: ECTYPER  {
        ext.args = "--pathotype"
    }
}